<a href="https://colab.research.google.com/github/ysibghaSE/Programming4AI/blob/main/Lab_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Quiz-2**

Perform following tasks on the provided Reviews Dataset.
* Drop words if not alphabets.
* Tokenize the sentence.
* Perform lemitization.
* Vectorize using bigram and trigram techniques.
* Apply Random Forest algorithm with 150 trees.
* Evaluate overall accuracy of the model and class-wise precision .

In [1]:
import numpy as np
import pandas as pd

In [2]:
temp_df = pd.read_csv('/content/reviews_dataset.csv')

In [3]:
temp_df.shape

(2225, 2)

In [4]:
temp_df.head()

                                                news      type
0  China had role in Yukos split-up\n \n China le...  business
1  Oil rebounds from weather effect\n \n Oil pric...  business
2  Indonesia 'declines debt freeze'\n \n Indonesi...  business
3  $1m payoff for former Shell boss\n \n Shell is...  business
4  US bank in $515m SEC settlement\n \n Five Bank...  business

### Drop words if not alphabets.

In [5]:
import re
def remove_non_alphabets(text):
    pattern = re.compile('[^a-zA-Z ]')
    return pattern.sub(r'', text)

testing....

In [6]:
sample_text01 = "abc 123a 07"
clean_sample_text01 = remove_non_alphabets(sample_text01)
print(clean_sample_text01)

abc a

In [7]:
temp_df['news'][1]

'Oil rebounds from weather effect\n \n Oil prices recovered in Asian trade on Tuesday, after falling in New York on milder winter weather across the US.\n \n With winter temperatures staying relatively high in the northern US, a barrel of light crude ended Monday down $1.33 to $42.12. However crude prices have rebounded in Asia, rising to $42.30 a barrel for February delivery. In London, trading of Brent crude was suspended for a public holiday, but the price fell to $39.20 in the Far East.\n \n With milder temperatures expected to continue in the northern parts of the US over the next few days at least, analysts have said the price of oil may fall further - even if the decline was only temporary. "Weather has been the Achilles\' heel of this market," said ABN AMRO analyst John Brady. "But it is winter in the northeast. Eventually we\'ll get another cold blast." Despite a fall of more than $12 a barrel from the record highs reached in late October, the price of crude oil remains almost 30% higher than year-ago levels. Prices rose last week after militant attacks in Riyadh, the capital of Saudi Arabia, briefly renewed fears that the supply chain might be broken in the world\'s leading crude exporter. "The market was panicked but fears essentially evaporated... since there was no follow-up," said Deborah White, senior economist for energy at SG Securities in Paris.\n'

In [8]:
temp_df['news'] = temp_df['news'].apply(remove_non_alphabets)
temp_df['type'] = temp_df['type'].apply(remove_non_alphabets)

In [9]:
temp_df['news'][1]

'Oil rebounds from weather effect  Oil prices recovered in Asian trade on Tuesday after falling in New York on milder winter weather across the US  With winter temperatures staying relatively high in the northern US a barrel of light crude ended Monday down  to  However crude prices have rebounded in Asia rising to  a barrel for February delivery In London trading of Brent crude was suspended for a public holiday but the price fell to  in the Far East  With milder temperatures expected to continue in the northern parts of the US over the next few days at least analysts have said the price of oil may fall further  even if the decline was only temporary Weather has been the Achilles heel of this market said ABN AMRO analyst John Brady But it is winter in the northeast Eventually well get another cold blast Despite a fall of more than  a barrel from the record highs reached in late October the price of crude oil remains almost  higher than yearago levels Prices rose last week after militant attacks in Riyadh the capital of Saudi Arabia briefly renewed fears that the supply chain might be broken in the worlds leading crude exporter The market was panicked but fears essentially evaporated since there was no followup said Deborah White senior economist for energy at SG Securities in Paris'

# Tokenize the sentence.

In [10]:
import nltk
nltk.download('punkt_tab')
from nltk.tokenize import word_tokenize,sent_tokenize

[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

testing...

In [11]:
sample_text02="a quick brown fox jumps over the lazy dog"
word_tokenize(sample_text02)

['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [12]:
temp_df['news'][1]

'Oil rebounds from weather effect  Oil prices recovered in Asian trade on Tuesday after falling in New York on milder winter weather across the US  With winter temperatures staying relatively high in the northern US a barrel of light crude ended Monday down  to  However crude prices have rebounded in Asia rising to  a barrel for February delivery In London trading of Brent crude was suspended for a public holiday but the price fell to  in the Far East  With milder temperatures expected to continue in the northern parts of the US over the next few days at least analysts have said the price of oil may fall further  even if the decline was only temporary Weather has been the Achilles heel of this market said ABN AMRO analyst John Brady But it is winter in the northeast Eventually well get another cold blast Despite a fall of more than  a barrel from the record highs reached in late October the price of crude oil remains almost  higher than yearago levels Prices rose last week after militant attacks in Riyadh the capital of Saudi Arabia briefly renewed fears that the supply chain might be broken in the worlds leading crude exporter The market was panicked but fears essentially evaporated since there was no followup said Deborah White senior economist for energy at SG Securities in Paris'

In [13]:
temp_df['news'] = temp_df['news'].apply(word_tokenize)
temp_df['type'] = temp_df['type'].apply(word_tokenize)

In [14]:
temp_df['news'][1]

['Oil',
 'rebounds',
 'from',
 'weather',
 'effect',
 'Oil',
 'prices',
 'recovered',
 'in',
 'Asian',
 'trade',
 'on',
 'Tuesday',
 'after',
 'falling',
 'in',
 'New',
 'York',
 'on',
 'milder',
 'winter',
 'weather',
 'across',
 'the',
 'US',
 'With',
 'winter',
 'temperatures',
 'staying',
 'relatively',
 'high',
 'in',
 'the',
 'northern',
 'US',
 'a',
 'barrel',
 'of',
 'light',
 'crude',
 'ended',
 'Monday',
 'down',
 'to',
 'However',
 'crude',
 'prices',
 'have',
 'rebounded',
 'in',
 'Asia',
 'rising',
 'to',
 'a',
 'barrel',
 'for',
 'February',
 'delivery',
 'In',
 'London',
 'trading',
 'of',
 'Brent',
 'crude',
 'was',
 'suspended',
 'for',
 'a',
 'public',
 'holiday',
 'but',
 'the',
 'price',
 'fell',
 'to',
 'in',
 'the',
 'Far',
 'East',
 'With',
 'milder',
 'temperatures',
 'expected',
 'to',
 'continue',
 'in',
 'the',
 'northern',
 'parts',
 'of',
 'the',
 'US',
 'over',
 'the',
 'next',
 'few',
 'days',
 'at',
 'least',
 'analysts',
 'have',
 'said',
 'the',
 'price',
 'of',
 'oil',
 'may',
 'fall',
 'further',
 'even',
 'if',
 'the',
 'decline',
 'was',
 'only',
 'temporary',
 'Weather',
 'has',
 'been',
 'the',
 'Achilles',
 'heel',
 'of',
 'this',
 'market',
 'said',
 'ABN',
 'AMRO',
 'analyst',
 'John',
 'Brady',
 'But',
 'it',
 'is',
 'winter',
 'in',
 'the',
 'northeast',
 'Eventually',
 'well',
 'get',
 'another',
 'cold',
 'blast',
 'Despite',
 'a',
 'fall',
 'of',
 'more',
 'than',
 'a',
 'barrel',
 'from',
 'the',
 'record',
 'highs',
 'reached',
 'in',
 'late',
 'October',
 'the',
 'price',
 'of',
 'crude',
 'oil',
 'remains',
 'almost',
 'higher',
 'than',
 'yearago',
 'levels',
 'Prices',
 'rose',
 'last',
 'week',
 'after',
 'militant',
 'attacks',
 'in',
 'Riyadh',
 'the',
 'capital',
 'of',
 'Saudi',
 'Arabia',
 'briefly',
 'renewed',
 'fears',
 'that',
 'the',
 'supply',
 'chain',
 'might',
 'be',
 'broken',
 'in',
 'the',
 'worlds',
 'leading',
 'crude',
 'exporter',
 'The',
 'market',
 'was',
 'panicked',
 'but',
 'fears',
 'essentially',
 'evaporated',
 'since',
 'there',
 'was',
 'no',
 'followup',
 'said',
 'Deborah',
 'White',
 'senior',
 'economist',
 'for',
 'energy',
 'at',
 'SG',
 'Securities',
 'in',
 'Paris']

# Perform lemitization.

In [21]:
import nltk
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer
lemmitizer = WordNetLemmatizer()
def lemmitize_words(text):
    return " ".join([lemmitizer.lemmatize(word,pos='v') for word in text.split()])

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

testing...

In [16]:
sample_text03="She was running along roads"
lemmitize_words(sample_text03)

'She be run along roads'

In [ ]:
temp_df['news'][1]

In [30]:
def lemmatize_words(tokens):
    return [lemmitizer.lemmatize(word,pos='v') for word in tokens]

In [31]:
temp_df['news'] = temp_df['news'].apply(lemmatize_words)
temp_df['news'] = temp_df['type'].apply(lemmatize_words)

In [32]:
temp_df['news'][1]

['business']

# Vectorize using bigram and trigram techniques.