<a href="https://colab.research.google.com/github/ysibghaSE/Programming4AI/blob/main/Lab_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Quiz-2**

Perform following tasks on the provided Reviews Dataset.
* Drop words if not alphabets.
* Tokenize the sentence.
* Perform lemitization.
* Vectorize using bigram and trigram techniques.
* Apply Random Forest algorithm with 150 trees.
* Evaluate overall accuracy of the model and class-wise precision .

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/reviews_dataset.csv')

In [3]:
df.shape

(2225, 2)

In [4]:
df.head()

                                                news      type
0  China had role in Yukos split-up\n \n China le...  business
1  Oil rebounds from weather effect\n \n Oil pric...  business
2  Indonesia 'declines debt freeze'\n \n Indonesi...  business
3  $1m payoff for former Shell boss\n \n Shell is...  business
4  US bank in $515m SEC settlement\n \n Five Bank...  business

In [5]:
df['news'] = df['news'].str.lower()
df['type'] = df['type'].str.lower()

### Drop words if not alphabets.

In [6]:
import re
def remove_non_alphabets(text):
    pattern = re.compile('[^a-zA-Z ]')
    return pattern.sub(r'', text)

In [7]:
df['news'][1]

'oil rebounds from weather effect\n \n oil prices recovered in asian trade on tuesday, after falling in new york on milder winter weather across the us.\n \n with winter temperatures staying relatively high in the northern us, a barrel of light crude ended monday down $1.33 to $42.12. however crude prices have rebounded in asia, rising to $42.30 a barrel for february delivery. in london, trading of brent crude was suspended for a public holiday, but the price fell to $39.20 in the far east.\n \n with milder temperatures expected to continue in the northern parts of the us over the next few days at least, analysts have said the price of oil may fall further - even if the decline was only temporary. "weather has been the achilles\' heel of this market," said abn amro analyst john brady. "but it is winter in the northeast. eventually we\'ll get another cold blast." despite a fall of more than $12 a barrel from the record highs reached in late october, the price of crude oil remains almost 30% higher than year-ago levels. prices rose last week after militant attacks in riyadh, the capital of saudi arabia, briefly renewed fears that the supply chain might be broken in the world\'s leading crude exporter. "the market was panicked but fears essentially evaporated... since there was no follow-up," said deborah white, senior economist for energy at sg securities in paris.\n'

In [8]:
df['news'] = df['news'].apply(remove_non_alphabets)
df['type'] = df['type'].apply(remove_non_alphabets)

In [9]:
df['news'][1]

'oil rebounds from weather effect  oil prices recovered in asian trade on tuesday after falling in new york on milder winter weather across the us  with winter temperatures staying relatively high in the northern us a barrel of light crude ended monday down  to  however crude prices have rebounded in asia rising to  a barrel for february delivery in london trading of brent crude was suspended for a public holiday but the price fell to  in the far east  with milder temperatures expected to continue in the northern parts of the us over the next few days at least analysts have said the price of oil may fall further  even if the decline was only temporary weather has been the achilles heel of this market said abn amro analyst john brady but it is winter in the northeast eventually well get another cold blast despite a fall of more than  a barrel from the record highs reached in late october the price of crude oil remains almost  higher than yearago levels prices rose last week after militant attacks in riyadh the capital of saudi arabia briefly renewed fears that the supply chain might be broken in the worlds leading crude exporter the market was panicked but fears essentially evaporated since there was no followup said deborah white senior economist for energy at sg securities in paris'

# Tokenize the sentence.

In [10]:
import nltk
nltk.download('punkt_tab')
from nltk.tokenize import word_tokenize,sent_tokenize

[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

In [11]:
df['news'] = df['news'].apply(word_tokenize)
df['type'] = df['type'].apply(word_tokenize)

In [12]:
df['news'][1]

['oil',
 'rebounds',
 'from',
 'weather',
 'effect',
 'oil',
 'prices',
 'recovered',
 'in',
 'asian',
 'trade',
 'on',
 'tuesday',
 'after',
 'falling',
 'in',
 'new',
 'york',
 'on',
 'milder',
 'winter',
 'weather',
 'across',
 'the',
 'us',
 'with',
 'winter',
 'temperatures',
 'staying',
 'relatively',
 'high',
 'in',
 'the',
 'northern',
 'us',
 'a',
 'barrel',
 'of',
 'light',
 'crude',
 'ended',
 'monday',
 'down',
 'to',
 'however',
 'crude',
 'prices',
 'have',
 'rebounded',
 'in',
 'asia',
 'rising',
 'to',
 'a',
 'barrel',
 'for',
 'february',
 'delivery',
 'in',
 'london',
 'trading',
 'of',
 'brent',
 'crude',
 'was',
 'suspended',
 'for',
 'a',
 'public',
 'holiday',
 'but',
 'the',
 'price',
 'fell',
 'to',
 'in',
 'the',
 'far',
 'east',
 'with',
 'milder',
 'temperatures',
 'expected',
 'to',
 'continue',
 'in',
 'the',
 'northern',
 'parts',
 'of',
 'the',
 'us',
 'over',
 'the',
 'next',
 'few',
 'days',
 'at',
 'least',
 'analysts',
 'have',
 'said',
 'the',
 'price',
 'of',
 'oil',
 'may',
 'fall',
 'further',
 'even',
 'if',
 'the',
 'decline',
 'was',
 'only',
 'temporary',
 'weather',
 'has',
 'been',
 'the',
 'achilles',
 'heel',
 'of',
 'this',
 'market',
 'said',
 'abn',
 'amro',
 'analyst',
 'john',
 'brady',
 'but',
 'it',
 'is',
 'winter',
 'in',
 'the',
 'northeast',
 'eventually',
 'well',
 'get',
 'another',
 'cold',
 'blast',
 'despite',
 'a',
 'fall',
 'of',
 'more',
 'than',
 'a',
 'barrel',
 'from',
 'the',
 'record',
 'highs',
 'reached',
 'in',
 'late',
 'october',
 'the',
 'price',
 'of',
 'crude',
 'oil',
 'remains',
 'almost',
 'higher',
 'than',
 'yearago',
 'levels',
 'prices',
 'rose',
 'last',
 'week',
 'after',
 'militant',
 'attacks',
 'in',
 'riyadh',
 'the',
 'capital',
 'of',
 'saudi',
 'arabia',
 'briefly',
 'renewed',
 'fears',
 'that',
 'the',
 'supply',
 'chain',
 'might',
 'be',
 'broken',
 'in',
 'the',
 'worlds',
 'leading',
 'crude',
 'exporter',
 'the',
 'market',
 'was',
 'panicked',
 'but',
 'fears',
 'essentially',
 'evaporated',
 'since',
 'there',
 'was',
 'no',
 'followup',
 'said',
 'deborah',
 'white',
 'senior',
 'economist',
 'for',
 'energy',
 'at',
 'sg',
 'securities',
 'in',
 'paris']

# Perform lemitization.

In [13]:
import nltk
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer
lemmitizer = WordNetLemmatizer()
def lemmitize_words(text):
    return " ".join([lemmitizer.lemmatize(word,pos='v') for word in text.split()])

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [14]:
def lemmatize_words(tokens):
    return [lemmitizer.lemmatize(word,pos='v') for word in tokens]

In [15]:
df['news'] = df['news'].apply(lemmatize_words)
df['type'] = df['type'].apply(lemmatize_words)

In [16]:
df['news'][1]

['oil',
 'rebound',
 'from',
 'weather',
 'effect',
 'oil',
 'price',
 'recover',
 'in',
 'asian',
 'trade',
 'on',
 'tuesday',
 'after',
 'fall',
 'in',
 'new',
 'york',
 'on',
 'milder',
 'winter',
 'weather',
 'across',
 'the',
 'us',
 'with',
 'winter',
 'temperatures',
 'stay',
 'relatively',
 'high',
 'in',
 'the',
 'northern',
 'us',
 'a',
 'barrel',
 'of',
 'light',
 'crude',
 'end',
 'monday',
 'down',
 'to',
 'however',
 'crude',
 'price',
 'have',
 'rebound',
 'in',
 'asia',
 'rise',
 'to',
 'a',
 'barrel',
 'for',
 'february',
 'delivery',
 'in',
 'london',
 'trade',
 'of',
 'brent',
 'crude',
 'be',
 'suspend',
 'for',
 'a',
 'public',
 'holiday',
 'but',
 'the',
 'price',
 'fell',
 'to',
 'in',
 'the',
 'far',
 'east',
 'with',
 'milder',
 'temperatures',
 'expect',
 'to',
 'continue',
 'in',
 'the',
 'northern',
 'part',
 'of',
 'the',
 'us',
 'over',
 'the',
 'next',
 'few',
 'days',
 'at',
 'least',
 'analysts',
 'have',
 'say',
 'the',
 'price',
 'of',
 'oil',
 'may',
 'fall',
 'further',
 'even',
 'if',
 'the',
 'decline',
 'be',
 'only',
 'temporary',
 'weather',
 'have',
 'be',
 'the',
 'achilles',
 'heel',
 'of',
 'this',
 'market',
 'say',
 'abn',
 'amro',
 'analyst',
 'john',
 'brady',
 'but',
 'it',
 'be',
 'winter',
 'in',
 'the',
 'northeast',
 'eventually',
 'well',
 'get',
 'another',
 'cold',
 'blast',
 'despite',
 'a',
 'fall',
 'of',
 'more',
 'than',
 'a',
 'barrel',
 'from',
 'the',
 'record',
 'highs',
 'reach',
 'in',
 'late',
 'october',
 'the',
 'price',
 'of',
 'crude',
 'oil',
 'remain',
 'almost',
 'higher',
 'than',
 'yearago',
 'level',
 'price',
 'rise',
 'last',
 'week',
 'after',
 'militant',
 'attack',
 'in',
 'riyadh',
 'the',
 'capital',
 'of',
 'saudi',
 'arabia',
 'briefly',
 'renew',
 'fear',
 'that',
 'the',
 'supply',
 'chain',
 'might',
 'be',
 'break',
 'in',
 'the',
 'worlds',
 'lead',
 'crude',
 'exporter',
 'the',
 'market',
 'be',
 'panic',
 'but',
 'fear',
 'essentially',
 'evaporate',
 'since',
 'there',
 'be',
 'no',
 'followup',
 'say',
 'deborah',
 'white',
 'senior',
 'economist',
 'for',
 'energy',
 'at',
 'sg',
 'securities',
 'in',
 'paris']

In [17]:
#join tokens
df['news'] = df['news'].apply(lambda x: ' '.join(x))

# Vectorize using bigram and trigram techniques.

In [18]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df['news'], df['type'], test_size=0.2, random_state=42)

X_train

1490    ireland v usa sit saturday november lansdowne ...
2001    slimmer playstation triple sales sony playstat...
1572    campbell to extend sprint career darren campbe...
1840    game win for bluray dvd format the nextgenerat...
610     comic morris return with sitcom comedian chris...
                              ...
1638    time to get tough on friendlies for an interna...
1095    lib dems target firsttime buyers the liberal d...
1130    tory expert deny defeat warn the conservatives...
1294    uk set to cut back on embassies nine overseas ...
860     rapper snoop dogg sue for rape us rapper snoop...
Name: news, Length: 1780, dtype: object

In [19]:
from sklearn.feature_extraction.text import CountVectorizer

cv=CountVectorizer(ngram_range=(2,3))
X_train_gram=cv.fit_transform(X_train)
X_test_gram=cv.transform(X_test)

print(X_train_gram.shape)
print(X_test_gram.shape)

(1780, 732216)
(445, 732216)

In [20]:
print(X_train_gram)

  (0, 322498)	1
  (0, 680746)	1
  (0, 549932)	1
  (0, 522314)	1
  (0, 414110)	1
  (0, 344661)	2
  (0, 514416)	1
  (0, 187095)	1
  (0, 254246)	1
  (0, 609538)	2
  (0, 322638)	1
  (0, 137919)	1
  (0, 341914)	1
  (0, 506309)	1
  (0, 428435)	2
  (0, 617885)	1
  (0, 501062)	1
  (0, 686093)	1
  (0, 454321)	1
  (0, 621252)	2
  (0, 566004)	1
  (0, 300152)	1
  (0, 78394)	1
  (0, 412382)	1
  (0, 438982)	2
  :	:
  (1779, 651183)	1
  (1779, 338887)	1
  (1779, 493478)	1
  (1779, 17556)	1
  (1779, 54730)	1
  (1779, 626379)	1
  (1779, 727510)	1
  (1779, 495965)	1
  (1779, 268659)	1
  (1779, 198458)	1
  (1779, 550648)	1
  (1779, 660811)	1
  (1779, 15646)	1
  (1779, 548417)	1
  (1779, 397672)	1
  (1779, 528776)	1
  (1779, 714873)	1
  (1779, 286814)	1
  (1779, 557296)	1
  (1779, 355330)	1
  (1779, 699877)	1
  (1779, 399749)	1
  (1779, 31378)	1
  (1779, 252229)	1
  (1779, 33281)	1

# Apply Random Forest algorithm with 150 trees.


# Evaluate overall accuracy of the model and class-wise precision.